.info-panel {
  $c: &;
  --nav-width: 80px;

  display: flex;
  flex-flow: row;
  background-color: var(--dark);
  height: 100%;

  &__navigation {
    width: var(--nav-width);
    position: relative;
  }

  &__content {
    transition: all .3s ease-in-out;
    flex-grow: 1;
    width: 0;
    border-left: 0 solid var(--gray-3);
    color: var(--light);
  };

  &--active {
    #{$c}__content {
      width: calc(50vw - var(--nav-width));
      border-left-width: 1px;
    }
  }
}
