.info-panel {
  $c: &;
  --nav-width: 80px;
  --content-width: 520px;

  display: flex;
  flex-flow: row;
  background-color: var(--dark);
  height: 100%;

  &__navigation {
    width: var(--nav-width);
    position: relative;
  }

  &__content {
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
    width: 0;
    border-left: 0 solid var(--gray-3);
    color: var(--light);
    overflow: hidden;

    & > * {
      width: var(--content-width);
    }
  }

  &--active {
    #{$c}__content {
      width: var(--content-width);
      border-left-width: 1px;
    }
  }
}

.info-toggle-button {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 12px;
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 25px 5px 5px 25px;
  background-color: var(--light);
  cursor: pointer;
  transition: transform 0.2s ease;

  position: absolute;
  bottom: 30px;
  right: 17px;

  &:hover {
    transform: translateX(-5px);
  }

  &__arrow {
    transition: transform 0.35s ease-in;
    width: 20px;
  }

  &__tomato {
    margin-right: 13px;
    width: 25px;
  }
}
