.info-nav {
  display: flex;
  flex-flow: column;

  &__button {
    --hover-border-width: 4px;

    border: none;
    border-right: var(--hover-border-width) solid transparent;
    background-color: transparent;
    padding: 0;
    height: 80px;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease;

    img {
      width: 100%;
      height: 100%;
      transition: filter .2s ease;
      margin-right: calc(-1 * var(--hover-border-width));
      filter: brightness(4);
    }

    &--active {
      img {
        filter: unset;
      }
    }

    &:hover {
      background-color: var(--gray-3);
      border-right-color: var(--primary);
      filter: opacity(.8);
    }
  }
}
