$pomo: #EA5548;
$leaf: #316901;
$break: #B5E254;

$colors: (
  'primary': $pomo,
  'secondary': '#606060',
  'info': $break,
  'gray-1': '#EAEAEA',
  'gray-2': '#ACACAC',
  'gray-3': '#414141',
  'dark': '#333333',
  'light': '#FCFCFC',
  'highlight': '#316901',

  'pomo': $pomo,
  'leaf': $leaf,
  'break': $break,
);
