$pomo : #EA5548;
$break: #B5E254;

$primary  : $pomo;
$secondary: #606060;
$info     : $break;
$gray-1   : #EAEAEA;
$gray-2   : #ACACAC;
$gray-3   : #414141;
$dark     : #333333;
$light    : #FCFCFC;

$colors: (
  'primary'  : $pomo,
  'secondary': $secondary,
  'info'     : $info,
  'gray-1'   : $gray-1,
  'gray-2'   : $gray-2,
  'gray-3'   : $gray-3,
  'dark'     : $dark,
  'light'    : $light,
  'pomo'     : $pomo,
  'break'    : $break,
);
